<a href="https://colab.research.google.com/github/mizykk/mizylog/blob/master/datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Datetime](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes)

In [0]:
import datetime

**datetime.datetime.now()**  
현재시각

In [12]:
now_time = datetime.datetime.now()
now_time

datetime.datetime(2019, 11, 11, 3, 31, 42, 393075)

datetime.datetime(year, month, day, hour, minute, second, microsecond)

In [13]:
print("year : {}".format(now_time.year))
print("month : {}".format(now_time.month))
print("day : {}".format(now_time.day))
print("hour : {}".format(now_time.hour))
print("minute : {}".format(now_time.minute))
print("second : {}".format(now_time.second))
print("microsecond : {}".format(now_time.microsecond))

year : 2019
month : 11
day : 11
hour : 3
minute : 31
second : 42
microsecond : 393075

**datetime.weekday()**  
요일을 숫자로 반환  
0 : 월 ~ 6 : 일

In [14]:
now_time.weekday()

0

**datetime.date()**  
날짜만 출력

In [15]:
now_time.date()

datetime.date(2019, 11, 11)

**datetime.time()**  
시간만 출력

In [17]:
now_time.time()

datetime.time(3, 31, 42, 393075)

**datetime.datetime.combine(d, t)**  
date와 time합치기

In [0]:
d = datetime.date(2017, 8, 31)
t = datetime.time(18, 30, 0)

datetime.datetime.combine(d, t)

**datetime.strftime()**  
datetime을 문자열로

In [18]:
now_time.strftime('%y%m%d')

'191111'

**datetime.strptime(date_string, format)**  
문자열을 datetime으로

In [20]:
datetime.datetime.strptime("17/08/31", "%y/%m/%d")

datetime.datetime(2017, 8, 31, 0, 0)